/*#html-sucker-blocks-config-wrapper .block-config .form-type-textfield,*/
/*#html-sucker-blocks-config-wrapper .block-config .form-type-textarea {*/
  /*display: inline-table;*/
  /*margin-right: 1.5em;*/
  /*max-width: 23%;*/
/*}*/

#html-sucker-blocks-config-wrapper .block-config .form-type-textarea {
  max-width: 800px;
}